body {
    font-family: monospace;
    display: grid;
    background-color: lavender;
    grid-gap: 1em;
  }
  header {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: skyblue;
    /*puts header in the middle*/
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
   text-align: right;
  
  }
  img {
    grid-column: 1 / 2;
    width: 400px;
    height: auto;
  }
  
  #movie-titles {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
  }
  
  form {
    grid-row: 3;
    grid-column: 2;
  }
  
  #review {
    grid-row: 5;
    grid-column: 2 / 5;
  }
  ul {
    font-family: "Arial";
  }

  #display-info {
    text-align: center;
    font-size: large;
  }